@import "@/styles/_reset.scss";
@import "@/styles/_fonts.scss";

@tailwind base;
@tailwind components;
@tailwind utilities;

#app {
  min-height: 100vh;
}

.page {
  min-height: 100vh;
}

h1, h2, h3, h4, h5, h6, p, li, div {
	font-family: "Noto Sans JP", sans-serif;
}
